body {
    background-image: url(https://avatars.mds.yandex.net/get-pdb/1365646/a35f803d-9e32-44d0-853c-2f28b9e11c9e/orig);
    background-repeat:no-repeat ;
    text-align: center;
    background-size: cover;
    color:#fff; 
}

span {
    font-size: 20px;
}
p{
font-family: Arial, Helvetica, sans-serif

}
h2{

}