.one{
color: #f00909;
}
.two{
color: #f08c09;
}

.tree{
color: #f0d909;
}
.four{
color: #00f048;
}
.blue{
color: #02d6e6;
}
.six{
color: #0400ff;
}
.seven{
color: #b407e9;
}
.spis{
text-decoration: none;
width: 200px;
}
h1{
    text-align: center;
}